* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('./images/WhatsApp\ Image\ novo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 8rem; /* Ajuste conforme a altura do header */
    overflow-x: hidden;
}


header {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 5rem;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    position: fixed; /* Fixa o header no topo */
    width: 100%;
    background-color: transparent;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 2.5rem;
}

.links button {
    background-color: rgb(180, 0, 120);
    width: 40rem;
    padding: 2.0rem;
    border-radius: 2rem;
    color: rgb(245, 240, 240);
    border: 0.3rem solid rgb(255, 255, 255);
    box-shadow: 1rem -1rem 0.8rem rgba(221, 212, 212, 0.15);
    cursor: pointer;
    transition: background-color 0.6s ease; 
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    font-weight: bold; /* (Opcional) Deixa o texto mais destacado */
    font-size: 1.7rem;
    font-family: "Open Sans", sans-serif;
}

.links button:hover {
    background-color: rgb(247, 7, 235);
    transform: scale(1.1);
    box-shadow: 1rem -1rem 1rem rgba(221, 212, 212, 0.3); /* Aumenta a sombra */
}

footer {
    text-align: center;
    font-size: 4.5rem;
    border-style: none;
    margin-top: 2rem;
}

footer .social-icons a {
    text-decoration: none;
}

footer .social-icons a i {
    color: rgba(224, 235, 226, 0.993);
    transition: color 0.3s ease-in-out;
}

footer .social-icons a:hover i {
    color: rgb(180, 0, 120); 
}

@media(max-width: 50rem) {
    .links button {
        padding: 1.5rem;
        width: 25rem;
        font-size: 1rem;
    }

    header {
        font-size: 1.9rem;
        margin-top: 5rem;
    }

    .links {
        margin-top: 6rem;
        height: 55vh;
        gap: 1rem;
    }
}

@media(max-width: 50rem) {
    footer {
        font-size: 3.5rem;
        margin-top: 7rem;
    }
}